/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background: #212529;
    overflow-x: hidden;
}
.full{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
}

.soundWave{
    height: 6rem;
    border-radius: 8px;
}
.micBox{
    text-align: center;
    margin-bottom: 2.5rem;
}
.micBox p{
    font-size: 1.5rem;
    margin: 0.5rem 0 2rem 0;
    color: #c4cfde;
}
.mic{
    cursor: pointer;
    display: inline;
    padding: 20px 25px;
    border: 4px solid #f9004d;
    border-radius: 50%;
}
.mic:hover{
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); */
    border-width: 6px;
}

.mic:hover > i{
    transform: scale(1.5);
}

form{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.container{
    max-width: 800px;
    width: 100%;
    padding: 30px;
    background: linear-gradient(145deg, #1e2024, #262a2e);
    border-radius: 7px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.wrapper{
    border-radius: 5px;
    border: 1.5px solid #f9004d;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 1.5px solid #f9004d;
}
.text-input .to-text{
    border-radius: 0px;
    border-left: 1.5px solid #f9004d;
}
.text-input textarea{
    height: 180px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #c4cfde;
}
.text-input textarea::placeholder{
    color: #c4cfde60;
}
.text-input textarea::-webkit-scrollbar{
    width: 4px;
}
.text-input textarea::-webkit-scrollbar-track{
    background: #fff;
}
.text-input textarea::-webkit-scrollbar-thumb{
    background: #ddd;
    border-radius: 8px;
}
.accentPrediction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.5rem 1rem; */
    font-size: 14px;
    color: #c4cfde;
}
.accentPrediction span{
    font-size: 16px;
    font-weight: 600;
}
.accentPrediction p:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}

.container .buttonGroup{
    display: flex;
    gap: 4rem;
}
.container button{
    width: 100%;
    padding: 12px;
    outline: none;
    border: none;
    color: #c4cfde;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background: #f9004d;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

@media (max-width: 660px){
    .container{
        padding: 20px;
    }
    .wrapper .text-input{
        flex-direction: column;
    }
    .text-input .to-text{
        border-left: 0px;
        border-top: 1px solid #ccc;
    }
    .text-input textarea{
        height: 200px;
    }
    .accentPrediction{
        flex-direction: column;
    }
    .accentPrediction p:nth-child(1){
        margin-bottom: 1rem;
    }
    .container button{
        padding: 13px;
        font-size: 16px;
    }
}